@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: "Montserrat";
}

.infoDiv{

  display: block;
  margin-left: auto;
  margin-right: auto;
text-align: center;
}

.info{


font-weight: bold;
	color: black;
}

button {
	padding: 0.5em;
	border-color: black;
	background: white;
	border-radius: 0.4em;
	font-size: 1.2em;
}

button:hover {
	padding: 0.5em;
	border-color: white;
	color: white;
	background: black;
	border-radius: 0.4em;
	cursor: pointer;
}

button:disabled{
	border-color: lightgray;
	color: lightgray;
	cursor: default;
}

button:hover:disabled{
	border-color: lightgray;
	background: white;
	color: lightgray;
}
.item{
	width: 20em;
	margin-bottom: 6em;
	display: flex;
    	flex-wrap: nowrap;
    	flex-direction: column;
}


#tokens {

    #display: flex;
    #flex-direction: row;
    #align-items: center;
    #flex-wrap: nowrap;
    #justify-content: center;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.bottomElement{

	display: flex;
flex-direction: row;
    align-content: center;
    align-items: center;
    margin-top: 0.5em;
}

.mintButton{
	margin-right: 1em;
    	margin-left: auto;
	font-size 4em;
	width: 5em;

}
#.mintButtonT{
	color: white;
    	font-weight: 900;
        text-shadow: 0 0 0.05em black, 0 0 0.05em black, 0 0 0.05em black, 0 0 0.05em black;
	letter-spacing: 0.15em;
}

.nameDiv{

	font-weight: bold;
	margin-bottom: 0.3em;
	margin-top: 2em;
	text-transform: uppercase;
white-space:nowrap;
}

.price{
	font-size: 1.5em;
	align-self: flex-end;
	font-weight: bold;
}

.ETH {
	margin-left: 0.4em;
	align-self: flex-end;
	margin-bottom: 0.1em;
}

.imgDiv {

text-align: center;

}

.imgNFT {

    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
}

.available {

	font-size: 0.8em;
}

.connectButton{

	width: 10em;
	float: right;
}

.artistName{
	display: flex;
    	justify-content: center;
    	font-size: 3em;
    	margin-bottom: 1.5em;
 white-space: nowrap;

}

.artistFirstName{
 	margin-right: 0.5em;
	font-weight: 200;
        text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
	font-weight: 1000;
        color: white;

}
.artistLastName{

	font-weight: 1000;
}
.artistImage{
  width: 55em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

.imgArtist{

    max-width: 100%;
    max-height: 100%;
}

.connectButtonDiv{

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
}
.deeplink {
	padding: 0.5em;
	border-color: black;
	background: white;
	border-radius: 0.4em;
	color: black;
    	border: 2px solid black;
	text-decoration: none;
}

.deeplink:hover {
	padding: 0.5em;
	border-color: white;
	color: white;
	background: black;
	border-radius: 0.4em;
	cursor: pointer;
	text-decoration: none;
}
